core/server/openxpki.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
              schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
<!-- this is the XML schema definition of OpenXPKI               -->
<!-- you can check this schema with the following command        -->
<!-- xmllint -format -schema openxpki.xsd -xinclude t/config.xml -->
<!-- if you are offline then please add the option - - nonet     -->
<!-- otherwise xmllint tries to use the internet                 -->

  <xsd:element name="openxpki" type="openxpki_type"/>

  <xsd:complexType name="openxpki_type">
    <xsd:sequence>
      <xsd:element name="common" type="common_type"/>
      <xsd:element name="pki_realm" type="pki_realm_type"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="common_type">
    <xsd:sequence>
      <xsd:element name="log_config"    type="xsd:string"/> <!-- this must be a filename -->
      <xsd:element name="server"       type="server_type"/>
      <xsd:element name="i18n"         type="i18n_type"/>
      <xsd:element name="database"     type="database_type"/>
      <xsd:element name="token_config" type="token_config_type"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ==================== -->
  <!-- server configuration -->
  <!-- =======BEGIN======== -->

  <xsd:complexType name="server_type">
    <xsd:sequence>
      <xsd:element name="user"        type="xsd:string"/> <!-- this must be a valid user or UID -->
      <xsd:element name="group"       type="xsd:string"/> <!-- this must be a valid group or GID -->
      <xsd:element name="socket_file" type="xsd:string"/> <!-- this must be a filename -->
      <xsd:element name="pid_file"    type="xsd:string"/> <!-- this must be a filename -->
      <xsd:element name="stderr"      type="xsd:string"/> <!-- this must be a filename -->
      <xsd:element name="interface"   type="server_interface_type"
                                      minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="server_interface_type">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="CLI"/>
      <xsd:enumeration value="HTML"/>
      <xsd:enumeration value="SCEP"/>
      <xsd:enumeration value="Test"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ========END========= -->
  <!-- server configuration -->
  <!-- ==================== -->

  <!-- ================== -->
  <!-- i18n configuration -->
  <!-- ======BEGIN======= -->

  <xsd:complexType name="i18n_type">
    <xsd:sequence>
      <xsd:element name="locale_directory" type="xsd:string"/> <!-- this must be a filename -->
      <xsd:element name="default_language" type="language_type"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="language_type">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="C"/>
      <xsd:enumeration value="en_US"/>
      <xsd:enumeration value="de_DE"/>
      <xsd:enumeration value="ru_RU"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- =======END======== -->
  <!-- i18n configuration -->
  <!-- ====================== -->

  <!-- ====================== -->
  <!-- database configuration -->
  <!-- ========BEGIN========= -->

  <xsd:complexType name="database_type">
    <xsd:sequence>
      <xsd:element name="debug"        type="xsd:boolean"/>
      <xsd:element name="server_id"    type="xsd:nonNegativeInteger"/>
      <xsd:element name="server_shift" type="xsd:positiveInteger"/>
      <xsd:element name="type"         type="database_type_type"/>
      <xsd:element name="name"         type="xsd:string"/>
      <xsd:element name="host"         type="xsd:string"          minOccurs="0"/>
      <xsd:element name="port"         type="xsd:positiveInteger" minOccurs="0"/>
      <xsd:element name="user"         type="xsd:token"           minOccurs="0"/>
      <xsd:element name="passwd"       type="xsd:string"          minOccurs="0"/>
      <xsd:element name="namespace"    type="xsd:token"           minOccurs="0"/>
      <xsd:element name="environment"  type="database_environment_type"/>
    </xsd:sequence>
    <xsd:attribute ref="xml:base"/>
  </xsd:complexType>
  
  <xsd:simpleType name="database_type_type">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="DB2"/>
      <xsd:enumeration value="MySQL"/>
      <xsd:enumeration value="PostgreSQL"/>
      <xsd:enumeration value="Oracle"/>
      <xsd:enumeration value="SQLite"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="database_environment_type">
    <xsd:sequence>
      <xsd:element name="vendor" type="database_env_vendor_type" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="database_env_vendor_type">
    <xsd:sequence>
      <xsd:element name="type"   type="database_type_type"/>
      <xsd:element name="option" type="option_type" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- =========END========== -->
  <!-- database configuration -->
  <!-- ====================== -->

  <!-- ======================= -->
  <!-- PKI realm configuration -->
  <!-- =========BEGIN========= -->

  <xsd:complexType name="pki_realm_type">
    <xsd:sequence>
      <xsd:element name="common" type="pki_realm_common_type"/>
      <xsd:element name="ca"     type="ca_type" maxOccurs="unbounded"/>
      <xsd:element name="auth"   type="auth_type"/>
      <xsd:element name="acl"    type="acl_type"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="pki_realm_common_type">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="token" type="token_type"/>
      <xsd:element name="validity" type="validity_type"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute ref="xml:base"/>
  </xsd:complexType>

  <xsd:complexType name="validity_type">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="format" type="validity_format_type" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
    <!-- FIXME: role -->
  </xsd:complexType>

  <xsd:simpleType name="validity_format_type">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="days"/>     <!-- number:                 730 -->
      <xsd:enumeration value="calendar"/> <!-- YY[MM[DD[HH[MM[SS]]]]]:  02 -->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="ca_type">
    <xsd:all>
      <xsd:element   name="token"    type="token_type"/>
      <xsd:element   name="profiles" type="cert_profiles_type"/>
    </xsd:all>
    <xsd:attribute name="name"  type="xsd:string"/>
    <xsd:attribute ref="super"/>
    <xsd:attribute ref="id"/>
  </xsd:complexType>

  <!-- ==========END========== -->
  <!-- PKI realm configuration -->
  <!-- ======================= -->

  <!-- ================================= -->
  <!-- cryptographic token configuration -->
  <!-- ==============BEGIN============== -->

  <xsd:complexType name="token_config_type">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="token" type="token_type"/>
    </xsd:sequence>
    <xsd:attribute ref="xml:base"/>
  </xsd:complexType>

  <xsd:complexType name="token_type">
    <xsd:sequence minOccurs="0">
      <xsd:element name="backend"   minOccurs="0" type="xsd:string"/>        <!-- perl module name -->
      <xsd:element name="mode"      minOccurs="0" type="token_mode_type"/>
      <xsd:element name="engine"    minOccurs="0" type="token_engine_type"/>
      <xsd:element name="shell"     minOccurs="0" type="xsd:string"/>        <!-- filename of crypto binary    -->
      <xsd:element name="wrapper"   minOccurs="0" type="xsd:string"/>        <!-- wrapper command around shell -->
      <xsd:element name="key"       minOccurs="0" type="xsd:string"/>        <!-- filename of ca key           -->
      <xsd:element name="config"    minOccurs="0" type="xsd:string"/>        <!-- filename of crypto config    -->
      <xsd:element name="randfile"  minOccurs="0" type="xsd:string"/>        <!-- filename of random -->
      <xsd:element name="passwd_parts" minOccurs="0" type="xsd:nonNegativeInteger"/>
      <xsd:element name="passwd"    minOccurs="0" type="xsd:string"/>
      <xsd:element name="option"    type="option_type" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="debug"     type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute ref="super"/>
    <xsd:attribute ref="id"/>
  </xsd:complexType>

  <xsd:simpleType name="token_mode_type">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="standby"/>
      <xsd:enumeration value="session"/>
      <xsd:enumeration value="daemon"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="token_engine_type">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="OpenSSL"/>
      <xsd:enumeration value="nCipher"/>
      <xsd:enumeration value="Luna"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ===============END=============== -->
  <!-- cryptographic token configuration -->
  <!-- ================================= -->

  <!-- ================================== -->
  <!-- certificate profiles configuration -->
  <!-- ===============BEGIN============== -->

  <xsd:complexType name="cert_profiles_type">
    <xsd:sequence minOccurs="0">
      <xsd:element name="crl"            type="cert_profile_type"/>
      <xsd:element name="selfsignedca"   type="cert_profile_type"/>
      <xsd:element name="profile" type="cert_profile_type" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute ref="xml:base"/>
    <xsd:attribute ref="super"/>
    <xsd:attribute ref="id"/>
  </xsd:complexType>

  <xsd:complexType name="cert_profile_type">
    <xsd:sequence minOccurs="0">
      <xsd:element name="digest"   type="digest_type"/>
      <xsd:element name="extensions" type="cert_extensions_type"/>
    </xsd:sequence>
    <xsd:attribute ref="role"/>
    <xsd:attribute ref="id"/>
  </xsd:complexType>

  <xsd:simpleType name="digest_type">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="sha1"/>
      <xsd:enumeration value="md5"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="cert_extensions_type">
    <xsd:sequence minOccurs="0">
      <xsd:element name="basic_constraints"        type="x509v3_basic_constraints" minOccurs="0"/>
      <xsd:element name="key_usage"                type="x509v3_key_usage" minOccurs="0"/>
      <xsd:element name="extended_key_usage"       type="x509v3_extended_key_usage" minOccurs="0"/>
      <xsd:element name="subject_key_identifier"   type="x509v3_subject_key_identifier" minOccurs="0"/>
      <xsd:element name="authority_key_identifier" type="x509v3_authority_key_identifier" minOccurs="0"/>
      <xsd:element name="issuer_alt_name"          type="x509v3_issuer_alt_name" minOccurs="0"/>
      <xsd:element name="crl_distribution_points"  type="x509v3_crl_distribution_points" minOccurs="0"/>
      <xsd:element name="authority_info_access"    type="x509v3_authority_info_access" minOccurs="0"/>
      <xsd:element name="user_notice"              type="x509v3_user_notice" minOccurs="0"/>
      <xsd:element name="policy_identifier"        type="x509v3_policy_identifier" minOccurs="0"/>
      <xsd:element name="cps"                      type="x509v3_cps" minOccurs="0"/>
      <xsd:element name="oid"                      type="x509v3_oid" minOccurs="0"/>
      <xsd:element name="netscape"                 type="x509v3_netscape" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="x509v3_extension">
    <xsd:attribute name="critical" type="xsd:boolean" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="x509v3_basic_constraints">
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:sequence minOccurs="0">
        <xsd:element name="ca"          type="xsd:boolean"/>
        <xsd:element name="path_length" type="xsd:nonNegativeInteger" minOccurs="0"/>
      </xsd:sequence>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_key_usage">
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:sequence minOccurs="0">
        <xsd:element name="digital_signature" type="xsd:boolean"/>
        <xsd:element name="non_repudiation"   type="xsd:boolean"/>
        <xsd:element name="key_encipherment"  type="xsd:boolean"/>
        <xsd:element name="data_encipherment" type="xsd:boolean"/>
        <xsd:element name="key_agreement"     type="xsd:boolean"/>
        <xsd:element name="key_cert_sign"     type="xsd:boolean"/>
        <xsd:element name="crl_sign"          type="xsd:boolean"/>
        <xsd:element name="encipher_only"     type="xsd:boolean"/>
        <xsd:element name="decipher_only"     type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_extended_key_usage">
    <!-- these are OIDs                     -->
    <!-- some OIDs are known and have names -->
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:sequence minOccurs="0">
        <xsd:element name="client_auth"      type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="email_protection" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="oid"              type="xsd:string"  minOccurs="0"/>
      </xsd:sequence>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_subject_key_identifier">
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:attribute name="hash" type="xsd:boolean"/>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_authority_key_identifier">
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:attribute name="keyid"  type="xsd:boolean"/>
      <xsd:attribute name="issuer" type="xsd:boolean"/>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_issuer_alt_name">
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:attribute name="copy" type="xsd:boolean"/>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_crl_distribution_points">
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:sequence minOccurs="0">
        <xsd:element name="uri" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_authority_info_access">
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:sequence minOccurs="0">
        <xsd:element name="ca_issuers" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ocsp"       type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_user_notice">
    <xsd:complexContent mixed="true">
    <xsd:extension base="x509v3_extension"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_policy_identifier">
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:sequence minOccurs="0">
        <xsd:element name="oid" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_cps">
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:sequence minOccurs="0">
        <xsd:element name="uri" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_oid">
    <xsd:complexContent mixed="true">
    <xsd:extension base="x509v3_extension">
      <xsd:attribute name="numeric"  type="xsd:string"/>
      <xsd:attribute name="format"   type="asn1_format_type"/>
      <xsd:attribute name="encoding" type="asn1_encoding_type"/>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="asn1_format_type">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="DER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="asn1_encoding_type">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="HEX"/> <!-- 0a:23:f1 -->
    </xsd:restriction>
  </xsd:simpleType>

  <!-- netscape extensions -->

  <xsd:complexType name="x509v3_netscape">
    <xsd:sequence minOccurs="0">
      <xsd:element name="comment"          type="x509v3_netscape_comment"/>
      <xsd:element name="certificate_type" type="x509v3_netscape_certificate_type"/>
      <xsd:element name="cdp"              type="x509v3_netscape_cdp"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="x509v3_netscape_comment">
    <xsd:complexContent mixed="true">
    <xsd:extension base="x509v3_extension"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_netscape_certificate_type">
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:sequence minOccurs="0">
        <xsd:element name="ssl_client"        type="xsd:boolean"/>
        <xsd:element name="smime_client"      type="xsd:boolean"/>
        <xsd:element name="object_signing"    type="xsd:boolean"/>
        <xsd:element name="ssl_ca"            type="xsd:boolean"/>
        <xsd:element name="smime_ca"          type="xsd:boolean"/>
        <xsd:element name="object_signing_ca" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="x509v3_netscape_cdp">
    <xsd:complexContent>
    <xsd:extension base="x509v3_extension">
      <xsd:sequence minOccurs="0">
        <xsd:element name="url"    type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ca_url" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================END=============== -->
  <!-- certificate profiles configuration -->
  <!-- ================================== -->

  <!-- ============================ -->
  <!-- authentication configuration -->
  <!-- ============BEGIN=========== -->

  <xsd:complexType name="auth_type">
    <xsd:sequence>
      <xsd:element name="stack"   type="auth_stack_type"   maxOccurs="unbounded"/>
      <xsd:element name="handler" type="auth_handler_type" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute ref="xml:base"/>
  </xsd:complexType>

  <xsd:complexType name="auth_stack_type">
    <xsd:sequence>
      <xsd:element name="handler" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="auth_handler_type">
    <xsd:sequence>
      <xsd:element name="command"
                   type="xsd:string"
                   minOccurs="0"/>
      <xsd:element name="role"
                   type="xsd:string"
                   minOccurs="0"/>
      <xsd:element name="user"
                   type="auth_handler_password_type"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
      <xsd:element name="pattern"
                   type="xsd:string"
                   minOccurs="0"/>
      <xsd:element name="replacement"
                   type="xsd:string"
                   minOccurs="0"/>
      <xsd:element name="env"
                   type="option_type"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="type" type="auth_handler_class_type"/>
  </xsd:complexType>

  <xsd:simpleType name="auth_handler_class_type">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Anonymous"/>
      <xsd:enumeration value="External"/>
      <xsd:enumeration value="LDAP"/>
      <xsd:enumeration value="Password"/>
      <xsd:enumeration value="X509"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="auth_handler_password_type">
    <xsd:sequence>
      <xsd:element name="name"      type="xsd:string"/>
      <xsd:element name="algorithm" type="xsd:string"/>
      <xsd:element name="digest"    type="xsd:string"/>
      <xsd:element name="role"      type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- =============END============ -->
  <!-- authentication configuration -->
  <!-- ============================ -->

  <!-- ================= -->
  <!-- ACL configuration -->
  <!-- =====BEGIN======= -->

  <xsd:complexType name="acl_type">
    <xsd:sequence>
      <xsd:element name="server"     type="acl_server_type"     maxOccurs="unbounded"/>
      <xsd:element name="role"       type="xsd:string"          maxOccurs="unbounded"/>
      <xsd:element name="permission" type="acl_permission_type" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute ref="xml:base"/>
  </xsd:complexType>

  <xsd:complexType name="acl_server_type">
    <xsd:sequence>
      <xsd:element name="id"   type="xsd:nonNegativeInteger" maxOccurs="unbounded"/>
      <xsd:element name="name" type="xsd:string"             maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="acl_permission_type">
    <xsd:sequence>
      <xsd:element name="server"        type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="activity"      type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="affected_role" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="auth_role"     type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ======END======== -->
  <!-- ACL configuration -->
  <!-- ================= -->

  <!-- =================== -->
  <!-- general definitions -->
  <!-- ======BEGIN======== -->

  <!-- this is a path for the configuration inheritance        -->
  <!-- the value has the following format:                     -->
  <!-- "openxpki/common/token_config/token{CA}/"               -->
  <!-- we always assume that there is only one element         -->
  <!-- if there are more than one element then we use          -->
  <!-- the id attribute                                        -->
  <!-- <token id="ca">                                         -->
  <!-- ..                                                      -->
  <!-- </token>                                                -->
  <!-- ..                                                      -->
  <!-- <token super="common/token_config/token{ca}"> -->
  <!-- ..                                                      -->
  <!-- </token>                                                -->
  <xsd:attribute name="super" type="xsd:string"/>
  <xsd:attribute name="id"    type="xsd:string"/>
  <xsd:attribute name="role"  type="xsd:string"/>

  <xsd:complexType name="option_type">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- =======END========= -->
  <!-- general definitions -->
  <!-- =================== -->

</xsd:schema>
